body{
  background-image: url("Pictures/backg.jpg");
  background-size:contain;
  background-attachment:fixed;
  font-family: -moz-system, Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}
h1, h2, h3{
  color: #FFFFFF;
}
.img1{
  width: 100%;
  margin: 3% auto;
}
.first_name{
  position: absolute;
  margin: -3% 35% 15px 37%;
  color: #FFFFFF;
}
.Date{
  position: absolute;
  margin: 45px 35% 15px 37%;
  color: #FFFFFF;
}
.date1{
  position: absolute;
  margin: 90px 40% 15px 45% ;
  color: #FFFFFF;
}
.Age{
  position: absolute;
  margin: 120px 40% 15px 45% ;
  color: #FFFFFF;
}
.location{
  position: absolute;
  margin: 180px 35% 15px 42% ;
  color: #FFFFFF;
}
.gallery{
  width:100%;
}
.gallery-container{
  align-items: center;
  display: flex;
  height: 700px;
  margin: 50px auto;
  max-width: 1000px;
  position: relative;
}
.gallery-item{
  text-align: center;
  height: 50%;
  opacity: .4;
  position:absolute;
  transition: all 0.3s ease-in-out;
  width: 50%;
  z-index:0;
  border-radius: 90px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  background: url("Pictures/backg2.png")center/cover repeat;
}
.gallery-item.gallery-item-selected {
  text-align: center;
  border-radius: 90px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  height: 100%;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 2;
  background: url("Pictures/backg2.png")center/cover repeat;
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next, {
  height: 200px;
  opacity: 1;
  width: 200px;
  z-index: 1;
}

.gallery-item.gallery-item-previous {
  top: 30%;
  font-size: 3px;
  transform: translateY(-50%);
}

.gallery-item.gallery-item-next {
  top: 70%;
  transform: translateY(-50%);
  font-size: 3px;
}

.gallery-item.gallery-item-first {
  top: 15%;
  transform: translateY(-50%);
  font-size: 3px;
}

.gallery-item.gallery-item-last {
  top: 85%;
  transform: translateY(-50%);
  font-size: 3px;
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin-left: 90%;
  margin-top: -27%;
}

.gallery-controls button {
  transform: rotate(-90deg) translateX(45%);
  cursor: pointer;
  font-size: 16px;
  margin: 80px 0 22px 0;
  text-transform: capitalize;
  border-radius: 90px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: url("Pictures/background_for_button.jpg");
  background-size:cover;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 4px;
  top: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateX(-50%);
  transition: top 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: rotate(-45deg) translateX(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  transform: rotate(-90deg) translateX(-50%);
  margin-left: 55%;
  margin-bottom: 85%;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}
