body {
  background-image: url("Background/backg.jpg");
  background-repeat:round;
  background-position: absolute;
  background-size: auto;
  background-attachment:fixed;
  font-family: -moz-Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

.box1  {
  width: 100%;
  height: 100%;
  position: absolute;
  left: calc(35% - 300px);
  top: 9%;
  display: block;
  background: url("Background/backg2.png")center/cover repeat;
  border-radius: 90px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  text-align: center;
  box-sizing: border-box;

}
.box1 .box2{
  width: 100%;
  height: 100%;
  left: 35%;
  top: 10%;
  display: block;
  position: absolute;
  border: 4px;
  border-radius: 90px;
}
 h1{
  font-size: 28px;
}
.box2 .tab{
  width: 100%;
  height: 100%;
  left: 0%;
  position: absolute;
  overflow: hidden;
  border-radius: 90px;
  border: 4px solid rgba(0, 0, 255, 0.4);
  background: url("Background/backg3.jpg")center/cover;
  text-align: center;
}
.tab button {
    background: url("Background/backg4.png");
    background-size:cover;
    border: none;
    border-radius: 90px;
    border: 4px solid rgba(0, 0, 255, 0.6);
    outline: none;
    cursor: pointer;
    padding: 25px 20px;
    transition: 0.3s;
    color: #FFFFFF;
    font-family: Century,sans-serif;
    font-size: 18px;
}
.tab button.active {
    margin-right: 7px;
    border-radius: 90px;
    background: url("Background/background_for_button.jpg");
    background-size:cover;
    color: #FFFFFF;
    font-family: Century,sans-serif;
    font-size: 18px;
}
.tabcontent {
    width: 100%;
    height: 88%;
    top: 12%;
    color: #FFFFFF;
    position: absolute;
    border-radius: 90px;
    display: none;
    border: 4px solid rgba(0, 0, 255, 0.6);
    background: url("Background/backg4.png");
    background-size:cover;
}
.box1 .img1{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 3%;
  top: 3%;
}
.box1 .first_name{
  position: absolute;
  left: 2%;
  top:50%;
  color:#FFFFFF;
}
.Date{
  position:absolute;
  left: 2%;
  top: 60%;
  color:#FFFFFF;
  font-family: Century,sans-serif;
  font-size: 18px;
}
.date1{
  position:absolute;
  left: 2%;
  top: 65%;
  color: #FFFFFF;
  font-family: Century,sans-serif;
  font-size: 18px;
}
.Age {
  position:absolute;
  left: 2%;
  top: 70%;
  color: #FFFFFF;
  font-family: Century,sans-serif;
  font-size: 18px;
}
.date2{
  position:absolute;
  left: 2%;
  top: 75%;
  color: #FFFFFF;
  font-family: Century,sans-serif;
  font-size: 18px;
}
/*.pulse{
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;
}
@@keyframes  pulse {
  to{
    transform: scale(2);
    background-color: #FFFFFF;
    opacity: 0;
  }
}
*/
.dropbtn {
   background: rgba(0, 0, 0, 0);
   color: white;
   padding: 12px 32px;
   font-size: 22px;
   border: none;
   cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
   background:rgba(0, 0, 0, 0);
   box-shadow: 0px 0px 16px 0px rgba(255,234,13,0.5);
}
.dropdown {
  left: calc(90% - 20px);
  position: absolute;
   display: flex;
}
.dropdown-content {
   display: none;
   position: absolute;
   left: calc(20% - 22px);
   top: 97%;
   background: rgba(0, 0, 0, 0);
   min-width: 12px;
   box-shadow: 0px 8px 16px 0px rgba(255,234,13,0.5);
   z-index: 1;
}
.dropdown-content a {
   color: white;
   padding: 12px 32px;
   text-decoration: none;
   display: block;
}
.dropdown-content a:hover {background:rgba(255,234,13,0.2)}
.show {display:block;}

/*
.dws-menu li a:hover{
background-color: #FFFFFF;
  border-radius: 12px;
  background-size: cover;
  color: #454547;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 1s ease;
}
.dws-menu li ul{
  position: absolute;
  min-width: 150px;
  padding: 0px;
  display: none;
}
.dws-menu li > ul li a{
  text-transform: none;
background-color: #FFFFFF;
  background-size: cover;
  border-radius: 44px;
}
.dws-menu li:hover > ul{
  display: block;
}
.dws-menu li > ul li:hover{
  text-transform: none;
background-color: #FFFFFF;
  background-size: cover;
  border-radius: 12px;
}

.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu{
  display: none;
}
.dws-menu label.toggleMenu{
  background-color: #FFFFFF;
  border-radius: 12px;
  background-size: cover;
  display: none;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}
@media all and (max-width: 1500px){
  .dws-menu{
    margin-top: 235px;
   overflow:hidden;
 }
 .nag{
   font-size: 20px;
 }
 .dws-menu ul {
   display: block;
   margin: 0;
   padding: 0;
   max-height: 0;
   transition: max-height 0.3s;
 }
 .dws-menu li>ul{
   position: absolute;
   right: 0;
   top: 0;
 }
 .dws-menu ul>li ul{
   position: relative;
   right: auto;
   top: auto;
 }
 .dws-menu label.toggleMenu{
   display: block;
 }
 input.toggleMenu:checked + label.toggleSubmenu{
   background-color: #FFFFFF;
   background-size: cover;
   color: #FF0000;
 }
 input.toggleMenu:checked  ~ ul,
 input.toggleSubmenu:checked ~ ul  {
   display: block;
   position: relative;
   max-height: 5000px;
   transition: max-height 2s ease-in;
 }
 .dws-menu label.toggleSubmenu{
   position: absolute;
   top:0;
   right: 0;
   width: 100%;
   height:100%;
   display:block;
 }
 input.toggleSubmenu:checked~a{
   background-color: #FFFFFF;
   color: #454547;;
 }
}
*/
